Repository luke-rxc/fe-mobile-luke, changes with the labels that .github/labeler.yml gives for each.
All labels: app-content, app-goods, app-home, app-live, app-member, app-mypage, app-notification, app-order, app-policy, app-proto, app-search, app-showroom, app-cs, common, configuration, documentation, pui, pui-legacy

.github/labeler.yml:

app-content:
  - src/apps/content/**/*
app-goods:
  - src/apps/goods/**/*
app-home:
  - src/apps/home/**/*
app-live:
  - src/apps/live/**/*
app-member:
  - src/apps/member/**/*
app-mypage:
  - src/apps/mypage/**/*
app-notification:
  - src/apps/notification/**/*
app-order:
  - src/apps/order/**/*
app-policy:
  - src/apps/policy/**/*
app-proto:
  - src/apps/proto/**/*
app-search:
  - src/apps/search/**/*
app-showroom:
  - src/apps/showroom/**/*
app-cs:
  - src/apps/cs/**/*
common:
  - any: ['src/**/*', '!src/apps/**/*', '!src/pui/**/*', '!src/components/**/*']
configuration:
  - apps*
  - commitlint.config.js
  - craco.config.js
  - package*.json
  - propfile.js
  - stylelint.config.js
  - tsconfig.json
  - tsconfig.paths.json
  - .*/**
  - environments/**/*
documentation:
  - '**/*.md'
pui:
  - 'src/pui/**/*'
pui-legacy:
  - 'src/components/**/*'

feat(common): add ci.yml (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): LiveDetailContainer 수정 1 (#FE-0000)
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live

feat(common): LiveDetailContainer 수정 1 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 2 (#FE-0000)
  .eslintignore
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live

feat(common): LiveDetailContainer 수정 3 (#FE-0000)
  .github/workflows/ci.yml
  package.json
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 4 (#FE-0000)
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live

feat(common): LiveDetailContainer 수정 5 (#FE-0000)
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live

feat(common): LiveDetailContainer 수정 6 (#FE-0000)
  .github/workflows/ci.yml
  package.json
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 7 (#FE-0000)
  .github/workflows/ci.yml
  package.json
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 8 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 9 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 10 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 11 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): LiveDetailContainer 수정 11 (#FE-0000)
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live

feat(common): LiveDetailContainer 수정 12 (#FE-0000)
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live

feat(common): LiveDetailContainer 수정 13 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 14 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 15 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 15 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): LiveDetailContainer 수정 16 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 17 (#FE-0000)
  .github/workflows/ci.yml
  package.json
  src/apps/live/containers/LiveDetailContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 17 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): LiveDetailContainer 수정 18 (#FE-0000)
  .github/workflows/ci.yml
  package.json
  src/apps/live/containers/LiveDetailContainer.tsx
  src/apps/live/containers/LiveEndContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 19 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
  src/apps/live/containers/LiveEndContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 19 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): LiveDetailContainer 수정 20 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/LiveDetailContainer.tsx
  src/apps/live/containers/LiveEndContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 21 (#FE-0000)
  src/apps/live/containers/LiveDetailContainer.tsx
  src/apps/live/containers/LiveEndContainer.tsx
  tsconfig.json
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 22 (#FE-0000)
  .github/workflows/ci.yml
  package.json
  src/apps/live/containers/LiveDetailContainer.tsx
  src/apps/live/containers/LiveEndContainer.tsx
Labels: app-live, configuration

feat(common): LiveDetailContainer 수정 23 (#FE-0000)
  .github/workflows/ci.yml
  package.json
  src/apps/live/containers/LiveDetailContainer.tsx
  src/apps/live/containers/LiveEndContainer.tsx
Labels: app-live, configuration

feat(common): 수정 (#FE-0000)
  src/pui/textfield/README.md
Labels: documentation, pui

feat(common): 수정 (#FE-0000)
  src/pui/textfield/README.md
Labels: documentation, pui

feat(common): 수정 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): 수정 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): 수정 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): 수정 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): 수정 (#FE-0000)
  .github/workflows/ci.yml
Labels: configuration

feat(common): 수정 23 (#FE-0000)
  .github/workflows/ci.yml
  src/apps/live/containers/Test.tsx
Labels: app-live, configuration

feat(common): 수정 24 (#FE-0000)
  src/apps/live/containers/Test.tsx
Labels: app-live
